
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
          
            {% for id in session["cart"] %}      
        <tr>
            <td>{{ session["cart"][id]["common_name"] }}</td>
            <td>{{ session["cart"][id]["quantity"] }}</td>
            <td>{{ session["cart"][id]["price"] }}</td>
            <td>{{ session["cart"][id]["total"] }}</td>
      
        </tr>
         
            {% endfor %}
      
        </tbody>
    </table>

    <h3>Total: ${{ "%.2f"|format(total_cart) }}</h3>


    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
