
{% extends 'base.html' %}

{% block body %}

<h3>General Account Settings</h3><br>

<form class="form-signin" method="POST">

  <h2 class="form-signin-heading">Change your password</h2>

  <div class="form-group">
    <label for="password-field" class="sr-only">Password</label>
    <input type="password"
           name="confirm-password"
           class="form-control input-lg"
           placeholder="Current password"
           required>
  </div>


  <div class="form-group">
    <label for="password-field" class="sr-only">Password</label>
    <input type="password"
           name="desired-password"
           class="form-control input-lg"
           placeholder="Desired password"
           required>
  </div>


  <button class="btn btn-lg btn-primary btn-block" type="submit">Change First Name
  </button>

</form>

{% endblock %}